.btn
	color: white
	border: none
	font bold 16px
	text-transform: uppercase
	padding: 10px 20px
	border-radius: 5px
	transition: all .3s
	&:hover,&:focus
		color: white

form
	input:not([type="submit"])
		border-radius 3px
