@import 'fonts.styl'
@import 'classes.styl'

a
	color initial
	transition all 0.3s
	&:hover,&:focus
		text-decoration none
		opacity 0.8
		color initial

body
	position relative

.background
	width 100%
	position relative

.container-fluid
	padding-left 0
	padding-right 0

body
	margin 0

