.icon {
  display: block;
  margin: 10px auto 20px;
  width: 250px;
  height: 250px;
}

.icon_xs {
  width: 50px;
  height: 50px;
}

.bImageLink {
  display: block;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 5px solid transparent;
}

.bImageLink:hover {
  text-decoration: none;
  border-color: #ff5419;
}

